.form {
    display: flex;
    flex-direction: column;
  }
  
  .form input[type="text"],
  .form input[type="email"],.form input[type="number"], .form textarea {
    @apply mb-6 px-4 py-2 font-medium text-xl text-slate-700 transition-all hover:border-slate-400;
    @apply focus:ring-1 focus:ring-sky-500 outline-none;
    @apply placeholder:text-slate-400 placeholder:font-normal placeholder:text-lg;
    border: 1px solid #0002;
    border-radius: 0.5em;
  }

  
  .label {
    @apply my-0 text-gray-500 mx-2 mb-2 text-xs font-medium;
  }
  

  