
.table {
    border-collapse: collapse;
}
.table thead {
    color: #fafafa;
}
.table tr th,
.table tr td {
    @apply border-r-slate-200;
}
.table tr th:first-child,
.table tr td:first-child {
    @apply border-l-slate-200;
}
.table th {
    @apply text-white bg-sky-500 px-6 pt-4 pb-2;
    text-align: left;
}
.table tr:first-child th:first-child {
    @apply rounded-tl-xl;
}
.table tr:first-child th:last-child {
    @apply rounded-tr-xl;
}
.table tr:last-child td:first-child {
    @apply rounded-bl-xl;
}
.table tr:last-child td:last-child {
    @apply rounded-br-xl;
}
.table td {
    @apply text-slate-600 px-6;
    border: 1px solid #0002;
    text-align: left;
}