@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    @apply rounded-3xl p-8 m-2 ring-slate-200 ring-1 bg-white border-b-slate-500 xs:min-w-[400px] xs:w-auto w-full;
    @apply shadow-lg shadow-slate-200;
}

.button {
    @apply mx-1 my-2 border-none rounded-xl px-4 py-2 font-bold transition-all
}
.button:hover {
    @apply shadow-md;
    cursor: pointer;
}